In [87]:
import pandas as pd
import numpy as np

In [88]:
w=pd.read_csv('predictions_ing_w.csv')
x=pd.read_csv('predictions_ing_x.csv')
y=pd.read_csv('predictions_ing_y.csv')
z=pd.read_csv('predictions_ing_z.csv')

In [89]:
print(w)
print(x)
print(y)
print(z)

                         date     farm_id  moving_avg_forcast
0         2017-01-01 00:00:00  fid_110884          173.313914
1         2017-01-01 00:00:00   fid_62121          173.313914
2         2017-01-01 00:00:00   fid_23862          173.313914
3         2017-01-01 00:00:00   fid_70526          173.313914
4         2017-01-01 00:00:00   fid_88538          173.313914
...                       ...         ...                 ...
12599379  2017-12-31 23:00:00   fid_55194          173.313914
12599380  2017-12-31 23:00:00   fid_52160          173.313914
12599381  2017-12-31 23:00:00  fid_100954          173.313914
12599382  2017-12-31 23:00:00   fid_39845          173.313914
12599383  2017-12-31 23:00:00  fid_117010          173.313914

[12599384 rows x 3 columns]
                        date     farm_id  moving_avg_forcast
0        2017-01-01 00:00:00   fid_33785          238.856913
1        2017-01-01 00:00:00   fid_45809          238.856913
2        2017-01-01 00:00:00   fid_60360          238.856913
3        2017-01-01 00:00:00   fid_99921          238.856913
4        2017-01-01 00:00:00   fid_44226          238.856913
...                      ...         ...                 ...
4414505  2017-12-31 23:00:00  fid_123014          238.856913
4414506  2017-12-31 23:00:00   fid_73057          238.856913
4414507  2017-12-31 23:00:00   fid_84046          238.856913
4414508  2017-12-31 23:00:00   fid_93191          238.856913
4414509  2017-12-31 23:00:00  fid_117010          238.856913

[4414510 rows x 3 columns]
                        date     farm_id  moving_avg_forcast
0        2017-01-01 00:00:00   fid_26064         1760.954838
1        2017-01-01 00:00:00   fid_55290         1760.954838
2        2017-01-01 00:00:00   fid_21908         1760.954838
3        2017-01-01 00:00:00   fid_71811         1760.954838
4        2017-01-01 00:00:00  fid_109954         1760.954838
...                      ...         ...                 ...
2849350  2017-12-31 23:00:00  fid_122133         1760.954838
2849351  2017-12-31 23:00:00   fid_56367         1760.954838
2849352  2017-12-31 23:00:00   fid_34005         1760.954838
2849353  2017-12-31 23:00:00  fid_113848         1760.954838
2849354  2017-12-31 23:00:00  fid_118135         1760.954838

[2849355 rows x 3 columns]
                        date     farm_id  moving_avg_forcast
0        2017-01-01 00:00:00   fid_87942          522.337149
1        2017-01-01 00:00:00  fid_117986          522.337149
2        2017-01-01 00:00:00   fid_94856          522.337149
3        2017-01-01 00:00:00   fid_18061          522.337149
4        2017-01-01 00:00:00   fid_90391          522.337149
...                      ...         ...                 ...
1291543  2017-12-31 23:00:00   fid_86326          522.337149
1291544  2017-12-31 23:00:00   fid_62549          522.337149
1291545  2017-12-31 23:00:00   fid_90391          522.337149
1291546  2017-12-31 23:00:00   fid_87942          522.337149
1291547  2017-12-31 23:00:00  fid_117010          522.337149

[1291548 rows x 3 columns]

In [92]:
pred = pd.concat([w, x, y, z], axis=0, ignore_index=True)

In [93]:
pred['farm_id'] = sub['id']

In [94]:
sub['yield'] = pred['moving_avg_forcast']

In [95]:
sub

                  id       yield
0                0.0  173.313914
1                1.0  173.313914
2                2.0  173.313914
3                3.0  173.313914
4                4.0  173.313914
...              ...         ...
20848795  41696845.0  522.337149
20848796  41696846.0  522.337149
20848797  41696847.0  522.337149
20848798  41696848.0  522.337149
20848799  41696849.0  522.337149

[20848800 rows x 2 columns]

In [96]:
sub.to_csv("predictions.csv",index=False)